
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  nav {
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 50%;
    text-align: center;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: red;
    border-bottom: 2px solid red;
}
  h1 {
    margin: 0;
  }
  
  #sneakers {
    padding: 20px;
  }
  
  .sneaker {
    display: inline-block;
    margin: 20px;
    text-align: center;
  }
  
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  h3 {
    margin: 10px 0;
  }
  
  .price {
    font-weight: bold;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

    margin: 0px;
    border-color: grey;
    background-color: black;
}

nav {
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: white;
    position: sticky;
    top: 0px;
=======
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
>>>>>>> Stashed changes
}

h1 {
  margin: 0;
}

#sneakers {
  padding: 20px;
}

.sneaker {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

<<<<<<< Updated upstream
nav a:hover {
    color: red;
    border-bottom: 2px solid red;
}

<<<<<<< Updated upstream
.conteneur{
  margin: 0px 20px;
  height: 1500px;
}

.conteneur {
    margin: 0px 20px;
    height: 1500px;
}

h3 {
  margin: 10px 0;
}

.price {
  font-weight: bold;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
